* {
  outline: 1px solid black;
}
header{
  width:100%;
  height: 100%;
  max-width: 1500px;
  max-height: 200px;
  margin: auto;
  background-color: #737373;
}
.headNav{
  width: 32%;
  height: 100%;
  float:left;
}
.headLogo{
  width: 32%;
  height: 100%;
  float: left;
}
.headNav2{
  width: 32%;
  height: 100%;
  float: right;
}
