header{
  width:100%;
  height: 100%;
  max-width: 1500px;
  max-height: 200px;
  margin: auto;
  background-color: white;
}
.headNav{
  width: 32%;
  height: 100%;
  float:left;
}
.headLogo{
  width: 32%;
  height: 100%;
  float: left;
  background-image: url(images/salmon.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.headNav2{
  width: 32%;
  height: 100%;
  float: right;
}
header li{
  display: inline-block;
}
a{
  text-decoration: none;
}
.mainSlideShow{
  max height: 300px;
  width width: 1500;
  height: 100%;
  width: 100%;
  background-image: url(images/storefront.JPG); background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  padding top: 20px;
  margin: 0px;
  border-radius: 10%;
  overflow: hidden;
}
.asideDiv{
  max-width: 1500px;
  max-height: 400px;
  width: 100%;
}
aside{
  max height: 300px;
  max width: 375px;
  height: 100%;
  width: 100%;
  background-color: skyblue;
  border-radius: 5%
}
.dealDiv{
  max height: 300px;
  max width: 750px;
  height: 100%;
  width: 100%;
  background-color: skyblue;
  border-radius: 5%
}
.menuDiv{
  float:left;
}
.locationDiv{
  float:right;
}
